# bin
/bin/*
!/bin/console
!/bin/console.php
!/bin/websiteconsole
!/bin/adminconsole
!/bin/symfony_requirements

# web
/web/css
/web/js
/web/bundles
/web/uploads
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/web/admin/translations/*
!/web/admin/translations/.gitkeep

# composer
/vendor
